# Ignore everything
*

# Except these src directories
!hotel.api/
!hotel.webapp/

# Except these environment configs
!docker/prod/dockerfiles/springapi/dist.application.properties

# But with these
*/node_modules/
*/dist/
*/.idea/
*/.mvn/
*/.target/
*/.vscode/
*/.gitignore
*/.prettierrc
*/.editorconfig
