<div class="row">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name" class="control-label"> Name: </label>
      <input type="text" class="form-control" formControlName="name" required />
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="capacity" class="control-label"> Capacity: </label>
      <input type="number" class="form-control" formControlName="capacity" required />
      <div *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)" class="alert alert-danger">
        <div *ngIf="capacity.errors.min">Capacity has a minimum {{ capacity.errors.min.min }}</div>
        <div *ngIf="capacity.errors.required">Capacity is required</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ buttonText }}</button>
  </form>
</div>
