<div class="row">
  <p>Kamers</p>
</div>

<div class="row">
  <table class="table">
    <tr>
      <th>
        Naam
      </th>
      <th>
        Capaciteit
      </th>
      <th>
        Acties
      </th>
    </tr>
    <tr *ngFor="let room: of rooms$ | async">
      <td>
        {{ room.name }}
      </td>
      <td>
        {{ room.capacity }}
      </td>
      <td>
        <button type="button" (click)="onDelete(room.id)" class="btn btn-danger">Verwijder</button>
      </td>
    </tr>
  </table>
</div>
