<div class="row">
  <div class="col">
    <h3>Kamers</h3>
  </div>
  <div clas="col float-right">
    <button type="button" class="btn btn-success " [routerLink]="['nieuw']">Add a new room</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <th>
          Name
        </th>
        <th>
          Capacity
        </th>
        <th>
          Actions
        </th>
      </tr>
      <tr *ngFor="let room: of rooms$ | async">
        <td>
          {{ room.name }}
        </td>
        <td>
          {{ room.capacity }}
        </td>
        <td>
          <button type="button" [routerLink]="[room.id]" class="btn btn-warning">Edit</button>
          <button type="button" (click)="onDelete(room.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
