<div class="row">
  <div class="col">
    <h3>Rooms</h3>
  </div>
  <div clas="col float-right">
    <button type="button" [routerLink]="['new']" class="btn btn-light"><img src="assets/open-iconic/svg/plus.svg"/> New Room</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <th>
          Name
        </th>
        <th>
          Capacity
        </th>
        <th>
          Actions
        </th>
        <th>
          Id
        </th>
      </tr>
      <tr *ngFor="let room: of rooms$ | async">
        <td>
          {{ room.name }}
        </td>
        <td>
          {{ room.capacity }}
        </td>
        <td>
          <button type="button" [routerLink]="[room.id]" class="btn btn-light margin-right-xs"><img src="assets/open-iconic/svg/brush.svg"/> Edit</button>
          <button type="button" (click)="onDelete(room.id)" class="btn btn-light margin-right-xs"><img src="assets/open-iconic/svg/trash.svg"/> Delete</button>
        </td>
        <td>
          {{ room.id }}
        </td>
      </tr>
    </table>
  </div>
</div>
