<div class="row">
  <div class="col">
    <h3>Bookings </h3>
  </div>
  <div clas="col float-right">
    <button type="button" class="btn btn-success " [routerLink]="['new']">Add a new booking</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <th>
          Guests
        </th>
        <th>
          Rooms
        </th>
        <th>
          Nights
        </th>
        <th>
          Actions
        </th>
      </tr>
      <tr *ngFor="let booking: of bookings$ | async">
        <td>
          {{ booking.guests | json }}
        </td>
        <td>         
          <ul>
            <li *ngFor="let room: of booking.rooms">
              {{room.name}}
            </li>
          </ul>
        </td>
        <td>         
          {{ booking.nights}}
        </td>
        <td>
          <button type="button" [routerLink]="[booking.id]" class="btn btn-warning">Edit</button>
          <button type="button" (click)="onDelete(booking.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
